@model IEnumerable<Computacion.Models.Venta>

@{
    ViewBag.Title = "ListaVentas";
}
<link href="~/Content/Lista2.css" rel="stylesheet" />
<h2>Lista de Compras</h2>


<table class="table">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            Apellido y Nombre
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="info">
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreApellidoUsuario)
        </td> 
        <td>
            <a href="@Url.Action("Details", "Usuario", new {id = item.IdAccount})" class="btn btn-success">Ver Usuario</a>            
            <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-success">Ver Venta</a>
            @*@Html.ActionLink("Ver Usuario", "Details", "Usuario", new { id = item.IdAccount }, null) |*@
            @*@Html.ActionLink("Ver Venta", "Details", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
